<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <nav class="nav-wrapper grey darken-4">
        <div class="container">
            <a href="#" class="brand-logo">Drone Shop</a>
            {% if menu %}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for p in menu %}
                        <li>
                            <a href="{{ url_for(p.url) }}">{{p.title}}</a>
                        </li>
                    {% endfor %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.user.role.name == "user" %}
                            <ul id="dropdown1" class="dropdown-content">
                                <li class="darken-4"><a class="dropdown-item darken-4" href="{{url_for('user_blueprint.car')}}">Корзина: {{current_user.get_count_car()}}</a></li>
                                <li><a class="dropdown-item darken-4" href="{{url_for('user_blueprint.list_order')}}">История заказов</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item darken-4" href="{{url_for('logout')}}">Выход</a></li>
                            </ul>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Профиль<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% else %}
                          <a class="btn teal darken-2" href="{{url_for('logout')}}">Выход</a>
                        {% endif %}
                    {% else %}
                        <a class="waves-effect waves-light btn teal darken-2" href="{{url_for('login')}}">Вход</a>
                        <a class="waves-effect waves-light btn teal darken-2" href="{{url_for('registration')}}">Регистрация</a>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </nav>
        <main class="main__block">
            {% block content %}
            {% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <script>
              M.AutoInit()
        </script>
        <footer class="page-footer grey darken-4">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Drone shop</h5>
                  <p class="grey-text text-lighten-4">Drone Shop - ваш надежный интернет-магазин, специализирующийся на продаже качественных и инновационных дронов от независимых производителей со всего мира. Наш широкий ассортимент включает в себя дроны для любых целей - от любительских квадрокоптеров до профессиональных моделей для коммерческого использования.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Меню</h5>
                  <ul>
                      {% for p in menu %}
                          <li>
                              <a class="grey-text text-lighten-3" href="{{ url_for(p.url) }}">{{p.title}}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2024 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!">Больше подробностей</a>
              </div>
            </div>
        </footer>
    </body>
</html>