{% extends 'base.html' %}

{% block content %}
    <div class="container form__sigin">
        <div class="row">
            <form action="/login" method="POST" class="col s12">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email(size=32) }}
                        {{ form.email.label() }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password.label() }}
                        {{ form.password(size=32) }}
                    </div>
                </div>
                <div class="row">
                    <label class="col s12">
                        {{ form.remember() }}
                        <span>Запомнить меня</span>
                    </label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.submit(class_="btn teal darken-2") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}